.entityForm {
  background: var(--bg-color-1-ui-generated);
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  color: var(--text-color-1-ui-generated);
}

.formField {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.formField label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}


.editField {
  flex: 2;
  padding: 0.5rem;
  border: 1px solid var(--bg-color-2-ui-generated);
  border-radius: 6px;
  background: #2a2a2a;
  color: var(--text-color-1-ui-generated);
}

.typeSelect {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--bg-color-2-ui-generated);
  border-radius: 6px;
  background: #2a2a2a;
  color: var(--text-color-1-ui-generated);
}

.deleteBtn {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--brand-color-ui-generated);
  transition: transform 0.2s ease;
}

.deleteBtn:hover {
  transform: scale(1.2);
}

input {
  background: #333;
  color: #aaa;
}

input:disabled {
  background: #333;
  color: #aaa;
}

input {
  padding: 0.5rem;
  border: 1px solid var(--bg-color-2-ui-generated);
  border-radius: 4px;
}

.submitBtn {
  background: var(--brand-color-ui-generated);
  color: var(--text-color-1-ui-generated);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 6px;
}

.submitBtn:hover {
  background: #e65c00;
}