.rolesMenu {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.roleButton {
  background: var(--bg-color-2-ui-generated);
  color: var(--text-color-1-ui-generated);
  border: 1px solid var(--brand-color-ui-generated);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 6px;
}

.roleButton.active {
  background: var(--brand-color-ui-generated);
  font-weight: bold;
}
